table{
  width: 70%;
  text-align: center;
  text-transform: uppercase;
  margin-left: 15%;
}

thead{
  background-color: #ffffff;
}

tbody th{
  border-color: rgb(255, 255, 255);
  font-weight: lighter;
  color: rgb(0, 0, 0);
}
tbody tr{
  width: 50px;
  background-color: #ffffff;
}
select{
  text-transform: uppercase;
  margin-left: 5px;
  width: 280px;
  border-color: rgb(0, 0, 0);
  border-radius: 5px;
}
button{
  padding: 7px;
  background-color: #2e502c;
  color: #fff;
  border-style: none;
  border-radius: 100px;
  width: 280px;
}
button:hover{
  background-color: black;
}
input {
  text-transform: uppercase;
  margin-left: 5px;
  width: 280px;
  border-color: rgb(0, 0, 0);
  border-radius: 5px;
}
h1,
h2 {
  font-style: oblique;
  font-weight: bolder;
}

h1 {
  margin-left: 40%;
}

.lista, .buscar,.crear,.actualizar{
  background-color: #acd17f;
  border-radius: 50px;
}
